Package: system-memory-reset-fix
Name: System Memory Reset Fix
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Prevent overnight userspace reboots triggered by mmaintenanced
Maintainer: Pwn20wnd
Author: Pwn20wnd
Section: System
